

{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/622c95e3fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="video-container">
    <video src="{% static 'videos/auction hub.mp4' %}" autoplay muted loop></video>
    </div>

    <div class="signup_container">
        <div class="image-container">
            <img src="{% static 'images/login.svg' %}" alt="">
        </div>
        <div class="signup_container-form">
            <div class="lol">
                <h1 class="text">Login</h1>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-key"></i>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-fields">
                    <button type="submit">Submit</button>
                </div>
                <div class="messages" style="text-align: center;margin-top: 10px;">
                  Don't have an account? <a href="{% url 'register' %}" style="color: #2d98da;" target="blank"><strong>Register here</strong></a>!
                </div>
                <div class="messages" style="text-align: center;margin-top: 10px;">
                    {% for message in messages %}
                        {{ message}}
                    {% endfor %}
                </div>
            </form>

        </div>
    </div>
</body>
</html>
